.div1{
    position: relative;
    background-color: red;
    width: 100px;
    height: 100px;
}
.div2{
    position: absolute;
    background-color: blue;
    width: 100px;
    height: 100px;
    margin: 50px;
}
.div3{
    position: fixed;
    background-color: green;
    width: 100px;
    height: 100px;
    z-index: 1;
}
